@import url("https://fonts.googleapis.com/css?family=Titillium+Web:700");
@import url("https://fonts.googleapis.com/css?family=Jura");

@import 'helpers/_variables.scss';
@import 'base/base';

// components
@import "components/module";

.strip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0.8em 1.2em;
  font-size: 1.1em;
  background: rgba(0, 0, 0, 0.2);
}

h1 {
  font-weight: 700;
  font-size: 1.6em;
  font-family: "Titillium Web";
}

#app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.cell {
  height: 1em;
  width: 1em;
  border: 1px solid #2D2D2D;
}

.back-1 {
  background: #78d376;
}

.back-2 {
  background: #75b3d1;
}

.back-3 {
  background: #abaf33;
}

.back-4 {
  background: #a733af;
}

.back-transit-2 {
  background: #75b3d1;
  -webkit-transition: background-color 3s;
  transition: background-color 3s;
}

.back-transit-3 {
  background: #abaf33;
  -webkit-transition: background-color 3s;
  transition: background-color 3s;
}

.back-transit-4 {
  background: #a733af;
  -webkit-transition: background-color 3s;
  transition: background-color 3s;
}

.back-death {
  background: #000;
  -webkit-transition: background-color 6s;
  transition: background-color 6s;
}

.back-victory {
  background: #fff;
  -webkit-transition: background-color 6s;
  transition: background-color 6s;
}

.floor {
  background: #d6d1d1;
  border: 1px solid #dbd6d6;
}

.player {
  background: #fc8d8d;
  border: 1px solid #fa3939;
}

.enemy {
  background: #8ce114;
  border: 1px solid #5a910d;
}

.potion {
  background: #ff0000;
  border: 1px solid #a80000;
}

.weapon {
  background: #f3f70c;
  border: 1px solid #a4a705;
}

.exit {
  background: #00b9f1;
  border: 1px solid #00769a;
}

.boss {
  background: #c447e0;
  border: 1px solid #971eb2;
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 1em;
  margin-right: 1em;
  width: 20em;
  font-size: 1em;
  color: #ddd;
}

.grid-wrapper {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 1em;
  padding: 0.8em 1.2em;
  background: rgba(0, 0, 0, 0.2);
}

.score-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.6em 0;
  min-width: 40%;
}

.score-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.setting-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  cursor: pointer;
}

.icon {
  margin-right: 0.5em;
  border: 0;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 0.5em solid transparent;
  border-right: 0.5em solid transparent;
  border-bottom: 1em solid red;
}

input {
  position: absolute;
  left: -9999px;
}

label {
  cursor: pointer;
}

label::before {
  display: inline-block;
  content: "";
  height: 1em;
  width: 1em;
  border: 1px solid #ddd;
  margin-right: 0.5em;
  vertical-align: bottom;
}

input:checked + label::before {
  background: red;
}
