$background-color: #2D2D2D;
$floor: #d6d1d1;
$enemy: #8ce114;
$weapon: #f3f70c;
$potion: #ff0000;
$player: #fc8d8d;
$exit: #00b9f1;
$boss: #c447e0;
$level1: #78d376;
$level2: #75b3d1;
$level3: #abaf33;
$level4: #a733af;
