.title {
  -webkit-transition: color 3s;
  transition: color 3s;
}

.title-0, .title-1 {
  color: #78d376;
}

.title-2, .title-transit-2 {
  color: #75b3d1;
}

.title-3, .title-transit-3 {
  color: #abaf33;
}

.title-4, .title-transit-4 {
  color: #a733af;
}
