body{
  background-color: $background-color;
  font-family: Jura, sans-serif;
  color: #ddd;
}

.root {
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
}

h1 {
  font-weight: 700;
  font-size: 1.6em;
  font-family: "Titillium Web";
}
